
<h1>About Me</h1>
<p>My name is <%= link_to "Ian Poston", "www.ianposton.com" %> and I am building a pinterest clone. Read more details from the <%= link_to "readme", "https://github.com/iposton/pinboard/blob/master/README.md" %> at my GitHub account!</p>

This app uses the following technologies:
<ul>
	<li>PostgreSQL</li>
	<li>Amazon - S3</li>
	<li>Ruby on Rails</li>
	
</ul>