<div class="jumbotron center">
	 <h1>This is my PinBoard!</h1>
	 <p>Pretty cool, eh?</p>
	 <%= link_to 'Log In', root_path, class: 'btn btn-default' %>
	 <%= link_to 'Join', root_path, class: 'btn btn-primary' %>
	 
</div>

